*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;  
}

.eventsbg {
    background-color: #f0f0f0;
    min-height: 100vh;
    padding: 20px;
  }
  
  .events_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .events_heading {
    font-size: 24px;
    color: #333;
  }
  
  .event_btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .events_btm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .event_card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .event_name {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .event_details {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .detail_label {
    font-weight: bold;
  }
  
  .generate_qr_btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .generate_qr_btn:hover {
    background-color: #0056b3;
  }
  
